@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* navbar */

nav {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: fixed;
  height: 4.5rem;
  z-index: 10;
}

.nav-links ul {
  list-style: none;
  display: flex;
}

.nav-links ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #9a9a9a;
  padding: 0 20px;
  text-transform: capitalize;
}

.nav-links ul li a:hover {
  color: white;
}

/* mobile banner */

.mobile-banner {
  position: relative;
}

.mobile-banner img {
  width: 100%;
}

.on-banner {
  position: absolute;
  top: 50%;
  color: #232323;
  left: 23%;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
  font-size: 3rem;
}

/* mobiles-section */

.mobile-section {
  margin-top: 6%;
}

.mobile-section h1 {
  font-size: 3.4rem;
  position: relative;
  text-align: center;
  text-transform: capitalize;
}

.mobile-section h1:after {
  background-color: yellow;
  content: "";
  position: absolute;
  width: 3.4rem;
  height: 4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  left: 50%;
  bottom: 0;
  top: 95px;
}

.phone-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.phone-card img {
  width: 10rem;
}

.phone-card p {
  text-transform: uppercase;
  font-size: 20px;
}

/* swiper */

.swiper {
  width: 100%;
  height: 90%;
}

.mySwiper {
  margin-top: 40px;
}

.swiper-slide {
  scroll-behavior: smooth;
  user-select: none;
  width: 15rem;
  padding: 1rem;
  border-radius: 20px;
  margin: 20px;
  border: 1px solid #8080807d;
  background-color: #bce256;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}

.swiper-pagination {
  margin-top: 40px;
}

/* swiper min css override */

.swiper-pagination {
  z-index: 1;
  top: 90%;
}

.swiper-slide {
  width: 265px !important;
}

.swiper-slide img {
  transform: scale(0.95);
}

.swiper-slide img:hover {
  transform: scale(1);
}

.swiper-slide p {
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

/* form */

form {
  /* margin-left: auto; */

  /* width: 550px;
  padding: 40px;
  margin: 30px auto; */
}

.form-block {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  padding: 1.3rem;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* background: #159957;
  background: -webkit-linear-gradient(to right, #155799, #159957);
  background: linear-gradient(to right, #155799, #159957); */
}

label {
  /* color: white; */
}

form * {
  vertical-align: middle;
}

form input {
  width: calc(100% - 250px);
  border: none;
  outline: none;
  height: 35px;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
  letter-spacing: 1px;
  border: 2px solid #ccc;
}

textarea {
  width: calc(100% - 250px);
  height: 120px;
  padding: 10px;
  box-sizing: border-box;
  letter-spacing: 1px;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
  outline: none;
  border: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  border: 2px solid #ccc;
  /* background-color: #f8f8f8; */
}

.btn {
  background: #f12711;
  background: -webkit-linear-gradient(to right, #f5af19, #f12711);
  background: linear-gradient(to right, #f5af19, #f12711);
  padding: 10px 15px;
  color: white;
  width: 140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.optional {
  font-size: 12px;
  color: white;
}

.book-service h1 {
  position: relative;
  margin: 50px auto;
  font-size: 3.4rem;
  text-align: center;
  text-transform: capitalize;
}

.book-service h1:after {
  background-color: yellow;
  content: "";
  position: absolute;
  width: 3.4rem;
  height: 4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  left: 50%;
  bottom: 0;
  top: 95px;
}

.empty-block {
  width: 100%;
  height: 100px;
}

/* footer */

.col-heading {
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.img-logo{
  margin: auto;
  width: 125px;
}

.footer {
  margin-top: 5rem;
  background-color: black;
  padding: 3rem;
  position: relative;
}

.footer::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-image: url("https://assets.digitalocean.com/labs/images/community_bg.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.col{
  margin: auto;
}

.col ul {
  /* margin: auto; */
  list-style: none;
}

.col ul li a {
  font-size: 17px;
  text-transform: capitalize;
  text-decoration: none;
  color: white;
  line-height: 2;
}

.col ul p {
  font-size: 17px;
  text-transform: capitalize;
  color: white;
  /* line-height: 2; */
}
