@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* navbar */

nav {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4.5rem;
}

.nav-links ul {
  list-style: none;
  display: flex;
}

.nav-links ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #9a9a9a;
  padding: 0 20px;
  text-transform: capitalize;
}

.nav-links ul li a:hover {
  color: white;
}

/* mobile banner */

.mobile-banner {
  position: relative;
}

.mobile-banner img {
  width: 100%;
}

.on-banner {
  position: absolute;
  top: 50%;
  color: #232323;
  left: 23%;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
  font-size: 3rem;
}

/* mobiles-section */

.mobile-section {
  margin-top: 6%;
}

.mobile-section h1 {
  font-size: 3.4rem;
  position: relative;
  text-align: center;
  text-transform: capitalize;
}

.mobile-section h1:after {
  background-color: yellow;
  content: "";
  position: absolute;
  width: 3.4rem;
  height: 4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  left: 50%;
  bottom: 0;
  top: 95px;
}

